.register-container {
    margin-inline: auto;
    max-width: 505px;
    background: rgb(254, 244, 231);
}

.register-form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 480px;
    border: 2px solid rgb(95, 67, 32);
    border-radius: 10px;
    align-items: center;
    padding: 10px;
}

.input::placeholder {
    color: rgba(164, 115, 55, 0.773);
}

.bt-form {
    margin: 10px;
    padding: 10px 40px;
    border: 2px solid rgb(95, 67, 32);
    border-radius: 10px;
    cursor: pointer;
    background: rgb(255, 224, 193);
    color: rgb(95, 67, 32);
}

.bt-form:hover {
    background: rgb(247, 210, 164);
}
