.container {
    margin-top: 50px;
    margin-inline: auto;
    text-align: center;
    width: 300px;
    border: 2px solid;
    border-radius: 10px;
    padding: 30px;
}

.input-container {
    text-align: left;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
}

.input {
    border-radius: 10px;
    padding: 10px;
}

.container button {
    margin-top: 10px;
    padding: 10px 20px;
    background: rgb(247, 225, 198);
    border-radius: 10px;
    cursor: pointer;
}

.container button:hover {
    background: rgb(249, 216, 176);
}
