.header {
    background: bisque;
    padding: 10px;
}

.header ul {
    list-style-type: none;
    display: flex;
    column-gap: 40px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: rgb(95, 67, 32);
}
